
  h1 {
    font-size: 36px;
    color: #333; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 20px;
}
footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 30px 0;
}

.left-content,
.right-content {
  flex-basis: 45%;
}

.left-content ul {
  list-style-type: none;
  padding: 0;
}

.left-content ul li {
  margin-bottom: 10px;
}

.right-content p {
  text-align: right;
}

.right-content a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.right-content a:hover {
  color: #3498db;
}

.clearfix {
  clear: both;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container p {
    flex: 1 1 100%;
    max-width: 1300px;
    margin: 10px;
}
.highlighted {
  font-weight: 500;
  padding: 30px;
  background-color: #eee;
  border-color: #ddd;
  border-width: 12px;
  border-style: solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.card-body {
    display: flex;
    align-items: center; 
}

.link {
    text-decoration: none;
    color: #333; 
}

.link:hover {
    color: #007bff; 
}

.formulario-container {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 90%;
  /* Esquema del formulario */
  padding: 1%;
  border: 1px solid #000000;
  border-radius: 1em;
}

.resultado {
  margin: 0 auto; 
  width: 400px;
  height: 80px;
  font-size: 16px;
  padding: 10px;
  text-align: center;
  overflow-wrap: break-word;
}
.body {
  background-image: url('fondo.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  align-items: center;
  
}
/* Estilo para la línea punteada */
  .dotted-line {
      stroke-dasharray: 5;
      stroke-dashoffset: 5;
      animation: dash 2s linear infinite;
  }

  /* Animación para mover el dash */
  @keyframes dash {
      to {
          stroke-dashoffset: 0;
      }
  }
  /* Estilo para el contenedor del SVG */
  #svg-container {
      /*border: 2px solid red;*/
      transition: left 1s ease; /* Agregar una transición para suavizar el movimiento */
  }
  #divcard{
    margin: 2% 2% 2% 2%;
  }