.formulario-container {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 500px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }

  .resultado {
    margin: 0 auto; 
    width: 400px;
    height: 80px;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;
  }
  h1 {
    font-size: 36px;
    color: #333; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 20px;
}
footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 30px 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-content,
.right-content {
  flex-basis: 45%;
}

.left-content ul {
  list-style-type: none;
  padding: 0;
}

.left-content ul li {
  margin-bottom: 10px;
}

.right-content p {
  text-align: right;
}

.right-content a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.right-content a:hover {
  color: #3498db;
}

.clearfix {
  clear: both;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container p {
    flex: 1 1 100%;
    max-width: 1300px;
    margin: 10px;
}
.highlighted {
  font-weight: 500;
  padding: 30px;
  background-color: #eee;
  border-color: #ddd;
  border-width: 12px;
  border-style: solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.card-body {
    display: flex;
    align-items: center; 
}

.link {
    text-decoration: none;
    color: #333; 
}

.link:hover {
    color: #007bff; 
}